<h1>
  <span class="far fa-plus-square"></span> New Snippet
</h1>

<form method="post" action="./snippets/create">
  <div class="form-group">
    <textarea rows = "5" class="form-control" name="description" placeholder="Enter a new snippet here" required="required" autofocus="autofocus" ></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Create Snippet</button>
</form>
