<h1>
  <span class="far fa-trash-alt"></span> Remove
</h1>

<form method="post" action="./snippets/{{viewData.id}}/delete">
  <input type="hidden" name="id" value="{{viewData.id}}" />
  <div class="form-group">
    <input type="text" class="form-control" name="description" value="{{viewData.description}}" readonly="readonly" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary" autofocus="autofocus">Delete Snippet</button>
</form>
