<h1 class="display-3">
      Welcome to log in!
    </h1>
    <form method="post" action="./user/userlogin">
    <div class="form-group">
    <input type="text" class="form-control" name="user" placeholder="Enter your username" required="required" autofocus="autofocus" />
    <br>
    <input type="password" class="form-control" name="password" placeholder="Enter your password" required="required" autofocus="autofocus" />
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Log in</button>
  </form>
  </div>