<h1 class="display-3">
      Welcome to register as a user!
    </h1>
    <form method="post" action="./user/register">
    <div class="form-group">
    <input type="text" class="form-control" name="user" placeholder="Enter a username" required="required" autofocus="autofocus" />
    <br>
    <input type="password" class="form-control" name="password" placeholder="Enter a password" required="required" autofocus="autofocus" />
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Register</button>
  </form>
  </div>