<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Welcome to Snippets!
    </h1>
    <p>
      Here you can create snippets and share them with the world.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="./user/registration" role="button">
        Register »
      </a>
    </p>
  </div>
</div>